@media(max-width: 400px) {
    body {
        max-width: 375px;
        max-height: 100vh;
    }

    main {
        min-width: 300px;
        min-height: 460px;
        margin: 4rem 2rem 0 2rem ;
    }
}